---
# tasks file for docker-registry
- name: log into DockerHub
  docker_login:
   username: jihed2
   password: mdaini123

- name: Tag and push to docker hub
  docker_image:
   name: devops:latest
   repository: jihed2/devops  
   tag: end    
   push: yes
